{% extends 'myapp/base.html' %}

{% block body %}

<div class="max-w-7xl mx-auto grid grid-cols-3">
    # Product Image
    <div class="col-span-1">
        <img class="w-80 h-80 rounded-lg border shadow-sm" src="{{product.images.url}}" alt="{{product.name}}">
    </div>

    # Product Details
    <div class="col-span-1 space-y-2">
        <h1 class="text-2xl font-semibold text-gray-900">{{product.name}}</h1>

        <div class="text-yellow-500">(12,321 ratings)</div>
        <p class="text-3xl text-green-500">${{product.price}}</p>
        <p class="text-sm text-green font-medium">Inclusive of all taxes</p>
        <ul>
            <li>{{product.description}}</li>
        </ul>

    </div>

    # Buy Box
    <div class="col-span-1 border rounded-lg p-6 space-y-4 shadow-sm">
        <p class="text-2xl font-semibold text-900">$ {{product.price}}</p>
        <div>
            <select name="id">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
            </select>
        </div>

        <p class="text-sm text-gray-500">FREE delivery by Tomorrow </p>
        {% if product.stock %}
            <p class="text-sm text-gray-700">In Stock</p>
        {% else %}
            <p>Out of Stock</p>
        {% endif %}

        <button id ="atc" class="w-full bg-yellow-400 text-black font-semibold py-2 rounded-lg">Add to Cart</button>
        <button class="w-full bg-gray-400 text-white font-semibold py-2 rounded-lg">Buy Now</button>
        <p class="text-sm text-green-500">
            Sold by: Bio Official Store and Fulfilled by Amazon
        </p>

    </div>
    
</div>

<script>
    $(document).on('click', '#atc', function(e){
        console.log("Add to Cart button clicked");
        $.ajax({
            type: "POST",
            url: '{% url "cart_add" %}',
        });
    });
</script>

{% endblock %}

