{% extends 'myapp/base.html' %}

{% block body %}

<div>
    <h1 class="text-2xl px-32 pt-10">Today's Deal</h1>
    
    <div class="px-32 ">
        <hr class="border-t my-6 border-gray-300"/>
    </div>

    <div class="grid grid-cols-4 px-32 gap-6">
        {% for product in products %}
        
        <div class="rounded-lg shadow-lg p-4">
            <img class="rounded-md mb-4 w-80 h-80  mx-auto" src="{{product.images.url}}" />
            <a class="text-lg font-semibold" href="">{{product.name}}</a>
            <p class="text-gray-600">${{product.description}}</p>
            <p class="text-green-500 font-bold mt-2 text-lg">{{product.price}}</p>
        </div>

        {% endfor %}
    </div>
</div>

{% endblock %}


This is the index page 

    <p>{{product.name}}</p>
    <p>{{product.price}}</p>
    <p>{{product.description}}</p>
    